$gray-bg: hsla(192, 15, 94, 1);
$gray-border: hsl(200, 21, 89);
$dark-gray-border: hsl(200, 0, 89);

$blue-success: hsla(208, 56, 45, 1);
$light-blue-success: hsla(208, 70, 45, 1);
$blue-info: hsla(194, 66, 53, 1);

$darker-blue-success: hsla(208, 30, 30, 1);

$black-85: hsla(0, 0, 0, 0.85);
$green-bg: hsla(168, 76, 36, 1);